:root {
  --black-blue: #242124;
  --dark-blue: #F0C674;
  --highlight: #F0C674;
  --white: #fff;
}

* {
  box-sizing: border-box;
  
}

body {
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: var(--white);
  background-color: var(--black-blue);
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  text-align: center;
  text-transform: uppercase;
  padding: 32px;
  background-color: var(--dark-blue);
  color: var(--white);
  border: 4px solid var(--highlight);
  border-radius: 20px;
}

h2 {
  text-align: center;
  margin: 20px auto 0px;
  color: var(--white);
}

.custom-hr {
  width: 33%;
  border: 2px solid var(--highlight);
  margin: 10px auto;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  padding: 20px 0;
}

.gallery img {
  width: 100%;
  max-width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .gallery img {
    max-width: 100%;
    height: auto;
  }

  .custom-hr {
    width: 50%;
  }
}
