* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  background: #000c18;
}

.header {
  text-align: center;
  text-transform: uppercase;
  padding: 32px;
  background-color: #01003a;
  color: #fff;
  border-bottom: 4px solid #fdb347;
}

h2 {
  text-align: left;
  margin: 20px auto 0px;
  padding-left: 38px;
  color: #fff;

}

.custom-hr {
  width: 33%;
  border: 2px solid #fdb347;
  margin: 5px 39px;
  align-items: left;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 10px;
}

.gallery img {
  width: 100%;
  max-width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  color: #ccc;
}

.gallery::after {
  content: "";
  width: 350px;
}
